@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-text {
    @apply border-[1px] border-gray-300  outline-none indent-1 text-sm p-3 rounded w-full
      shadow placeholder:text-gray-500 placeholder:opacity-80
  }

  .select-style {
    @apply border-gray-300 border-[1px]  w-full py-3 pl-2 rounded shadow-sm 
      focus:outline-none hover:cursor-pointer 
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
